@charset "UTF-8";
.images{
  height: 500px;
}
.bg{
  background-image: url("../../image/coffee-background.jpg");
}
.bg__noRepeat{
  background-image: url("../../image/coffee-background.jpg");
  background-repeat: no-repeat;
}
.bg__center{
  background-image: url("../../image/coffee-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg__set{
  background-image: url("../../image/coffee-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
